In [2]:
import pandas as pd

df = pd.read_csv('DutchCities.csv')

In [12]:
df.describe()

          Population         Lat         Lon
count     277.000000  277.000000  277.000000
mean    49554.873646   52.061516    5.386282
std     70090.605594    0.541040    0.809983
min     16200.000000   50.850000    3.500000
25%     21700.000000   51.670000    4.700000
50%     29000.000000   52.020000    5.380000
75%     45900.000000   52.370000    5.960000
max    740400.000000   53.400000    7.110000

In [15]:
df.min()

City          Aaenhunze
Population        16200
Lat               50.85
Lon                 3.5
dtype: object

In [23]:
lat_max = df['Lat'].max()
lat_min = df['Lat'].min()
lon_max = df['Lon'].max()
lon_min = df['Lon'].min()

lon_max - lon_min

3.6100000000000003

In [24]:
lat_max - lat_min

2.549999999999997